// @import url("https://use.typekit.net/gcp8xsj.css");

.SearchPage {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .SearchPage_Gallery {
    height: 50vh;
    bottom: 0;
    margin-top: 50vh;
    overflow-y: scroll;
  }

  .SearchPage_Search {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &.SearchPage_Search-fullHeight {
      height: 100vh;
    }
  }
}

// .Search {
//   font-family: proxima-nova, sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }
