.SearchPage {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .SearchPage_Gallery {
    height: 50vh;
    bottom: 0;
    margin-top: 50vh;
    overflow-y: scroll;
  }

  .SearchPage_Search {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all;

    &.SearchPage_Search-fullHeight {
      height: 100vh;
    }
  }


}

.Search {
}
